<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tips.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>403AB9C31C5A670900D46FA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>403AB9D71C5A670900D46FA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>403AB9E21C5A670900D46FA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
